.total-info{
    box-shadow: 0 10px 40px -10px rgba(0,64,128,.2);
    background: #fff;
    border-radius: 10px !important;
}

/*---------------------------------------------------------------------
                               Sign In Page
-----------------------------------------------------------------------*/
.sign-in-page{
    box-shadow: 0 10px 40px -10px rgba(0,64,128,.2);
    border-radius: 2px !important;
}

/*---------------------------------------------------------------------
                              Input
-----------------------------------------------------------------------*/
.dm-input{
    border-radius: 2px !important;
    border: none;
    background: #e4e3e3;
    padding: 5px 10px 5px 10px;
}

.dm-input-dropdown{
    padding: 5px 10px 5px 10px;
    border: none;
    background: #e4e3e3;
}

.dm-dev-notif{
    border-radius: 4px !important;
    border: none;
    background: #6886c5;
    padding: 5px !important;
    margin: 0px 10px;
    color: #fff;
}

.dm-sidebar-logo {
    padding: 5px;
    padding: 15px !important;
}
.dm-sidebar-logo img{
    padding: 5px;
}
.dm-top-logo{
    padding: 0px !important;
    width: 200px !important;
}

.dm-sidebar-logo{
    padding: 0px;
}